body {
    font-family: Verdana, Arial;
    margin: 25px 25px 0 25px;
}

h1 {
    font-size: 48px;
    color: blue;
    padding: 15px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
    padding: 0 0 15px 15px;
}

img {
    width: 350px;
    border: 10px black dotted;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px white solid;
}

div.red {
   background-color: #fd5a5aee; 
   text-align: right;
   margin-left: 50px;
   border-bottom:3px;
   border-left: 10px; 
}

div.blue {
    background-color: #5aa6fdee; 
    text-align: left;
    margin-right: 50px;
    border-bottom:3px;
    border-right: 10px;

}



span {
    text-decoration: underline;
    text-transform: uppercase;

}

footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
}